*{
    font-size: 30px;
    padding: 10px;
}
body{
    background-image: url('images/background.jpg');
    background-size: cover;
}
button{
    padding: 25px;
    margin: 10px;
    background-color: hsl(346, 48%, 33%);
    text-shadow: 5px 5px 6px hsl(346, 48%, 33%);
}
span{
    padding: 40px;
    display: block;
    border: 3px solid hsl(0, 48%, 33%);
    border-radius: 20px;
}
input{
    background-color: hsl(346, 48%, 33%);
    border-radius: 20px;
    text-decoration: none;
    margin: 10px;
}
 @media screen and (max-width: 610px){

body{
    background-image: url('images/background.jpg');
    background-size: cover;
}
button{
    padding: 15px;
    margin: 5px;
    background-color: hsl(346, 48%, 33%);
    text-shadow: 5px 5px 6px hsl(346, 48%, 33%);
}
span{
    padding: 30px;
    display: block;
    border: 3px solid hsl(0, 48%, 33%);
    border-radius: 20px;
}
input{
    background-color: hsl(346, 48%, 33%);
    border-radius: 20px;
    text-decoration: none;
    margin: 10px;
    width: 250px;
}
 }